New folder


.venv/
venv/
env/

.env

__pycache__/
*.py[cod]
*$py.class

*.log
*.db
*.sqlite3

client.py
vector_store.json

test.py
vector_store.json
output_tagged_llama.xlsx
input.xlsx

.idea/
.vscode/


local/
